<!DOCTYPE html>
{%extends 'index.html'%}


{%block body_block%}


<h1> WELCOME USER {{request.user}}</h1>
<div class="container">
    <div class="row">
        {%for item in items%}
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="#" class="card-img-top" style="height:300px" alt="..." >
                    <div class="card-body">
                        <h5 class="card-title">{{item.productName}}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="{%url 'detail' item.id%}" class="btn btn-primary">View</a>
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
