<!DOCTYPE html>
{%extends 'index.html'%}


{%block body_block%}


<h1> WELCOME USER {{request.user}}</h1>
<div class="container">
    <div class="row">

        <div class="col-4"></div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">ProductName: {{item.productName}}</h5>
                    <p class="card-text"> Product Description: {{item.productDesc}}</p>
                    <p class="card-text"> Quantity: {{item.Quantity}}</p>
                    <p class="card-text"> Taxable Amount: {{item.taxableAmount}}</p>
                    <a href="{%url 'order' item.id%}" class="btn btn-primary">Place order</a>
                </div>
            </div>

        </div>
        <div class="col-4"></div>

    </div>
</div>

{% endblock %}
